
.cover__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    max-width: 360px;
    color: #fff;
}


@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 277px; /* Не встает тут текст как по макету без white-space и по max-width: 288px, поэтому я поменял на max-width: 277px =( */
    }
}
