.header__lang-container{
    margin: 0;
    list-style: none;
    display: flex;
    gap: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 18px 0 0; /*Если мы только центрируем, через align-items: center, то у нас по PP не встает элемент в макет, поэтому я использовал изначально top, сейчас пробую padding*/
    position: relative;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header__lang-container{
        align-items: flex-end;
        padding: 14px 0 0;
        font-size: 18px;
        line-height: 20px;
    }
}
