.footer{
    display: flex;
    padding: 0px 48px 24px;
    justify-content: space-between;
    margin: auto;
    max-width: 1184px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 0px 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        gap: 48px;
        padding: 0px 16px 24px;
        font-weight: 400;
    }
}
